<div class="card card-primary">
  <div class="card-header bg-primary text-white">
      {{pageTitle}}
  </div>
  <div class="card-body">
      <div class="row" >
          <img src="./assets/images/logo.jpg"
               class="img-fluid mx-auto"
               style="max-height:300px;padding-bottom:50px"/>
      </div>
      <div>
          <div class="text-center">Developed by:</div>
          <h4 class="text-center">Bojanche Stojchevski</h4>

          <div class="text-center">@bstojcevski</div>

          <div class="text-center">
              <a href="https://github.com/bokjo">https://github.com/bokjo</a>
          </div>
      </div>
  </div>
</div>
